
<ion-view view-title="Add Wish">
  <ion-content>

<br/><br/>

<div class="list">



  <label class="item item-input item-select" ng-init="wish.type=typeList[0].text">
    <span class="input-label"  style="color:blue">Select Type</span>
	<select ng-model="wish.type" ng-options="it.text as it.text for it in typeList">
	  </select>
	
  </label>
	
	<br/>

   <label class="item item-input item-floating-label">
   <span class="input-label" style="color:blue">Type Your Message</span>
    <textarea rows="3" ng-model="wish.msg" placeholder="Type your Wish"></textarea>
   </label>
      
  


<br/><br/>
  <div class="padding">
  <button class="button button-block button-balanced" ng-click="addWish()"> Add </button>
  </div>
</div>


<br/>




  </ion-content>
</ion-view>
